## Section 1: Foundations of Python 
Financial modeling aims to use python programming to solve finance-related questions and build up models to explain return or risk. I asssume you may have some coding backgrounds in Econometrics or Investments, but it is still my job to help you to review basic concepts about the fundations of python. \
The fundamental logic of using python in finance world is simplifying the step that you may need to do multiple times. So the key idea before running a model is knowing how to solve this question in the first run. And that would be the fundations of Python we need to review or learn in this section. \
Python is a programming language, the most basic ways to type and run a python code in in the terminal. But it's too hard for a beginner to understand an apply, so that's why we need a "developing environment" to help us to simplify the coding environment. Jupyter Notbook is a effective tool to help you to run python codes. The financial modeling course fill practice and finish everything based on Jupyter Notebook and codings, including in-class activities, homework assignments, quizzes, exams and group project.

In [1]:
# add a hash (#) in your code cell can help you to add some explaination for the code, function or model you are about to apply. let's run the first code in our class.

print("hello world!")

#the shortcut for running a code is shift+enter

hello world!

the most important things in pythong programming are setting variables, running a loop, defining a function, and set a class to save multiple functions. In my class, I will only focus on the first three. Let's try to understand different types of data and identify a variable first.

In [ ]:
# Here, try to convert this cell to a markdown format.

## Section 1.1 Data Types in Python
Here is some definitions or importance of datat types in python. Below are some practice

In [2]:
# start with the most basic data type, number (intenger or int, and float) you can finish some very basic calculation without applying any package. 

a = 1
b = 2.2
c = 4
avg = (a+b+c)/3
sub = c - b
add = a + b 
divide = a / c
times = a * b * c

avg, sub, add, divide, times

(2.4, 1.7999999999999998, 3.2, 0.25, 8.8)

In [3]:
#For financial data, we may interest in the historical return of a specific firm. Then we need to save the firm's name or ticker, then save historical data. "str" is the data type for the firm's name 

aapl = "APPLE"
nvda = "NVIDIA"

aapl, nvda

('APPLE', 'NVIDIA')

In [ ]:
## here is your practice: try to run the code "a + aapl" in this cell. What't the result you can see? What't the reason?

In [4]:
# for the historical return of apple, you may not only interested in the return in a specific day, so you may need to apply a list to save all the data you need. 

returns = [0.02, -0.31, 0.05, 0.01, 0.01, 0]

In [ ]:
#Practice: try to identify a new list with both "float" and "str" data type in it. Is that any error code come out? Explain and conclude your finding.

In [ ]:
# if you want to save a more complex data, dictionary can be your choice

## Section 2: Loop

In [10]:
# now we can start a basic loop
# in the previous return list, assume they are monthly return. Now I want to convert it to APR, by multiplying 12.
returns_y = [] #create a empty list to save your calculated results

for i in returns:
    returns_y.append(i * 12)
    
print(returns_y)

[0.24, -3.7199999999999998, 0.6000000000000001, 0.12, 0.12, 0]

In [ ]:
# now, try something by yourself.

## Section 3: Data Manipulation for Financial Data

### Section 3.1: Retrieving Data from Yahoo Finance

In [1]:
# load packages first for future applications.
import pandas as pd
import numpy as np
import yfinance as yf

In [6]:
#yfinance is a powerful package that helping you to retrieve financial data you need from Yahoo Finance. 
#Download this package if it's your first time to use it

#You may target specific data you to build your model. 
#Then you need to tell the code that what kind of data you are interested in.

start_date = "2019-01-01"
end_date = "2025-01-01"

freq = "1mo"

tickers = ["AAPL", "NVDA", "SPY"]

raw = yf.download(tickers, start_date,end_date, interval=freq)

[*********************100%***********************]  3 of 3 completed

In [ ]:
#now we want to check the data  we downlodoad. 

raw

Price                       Adj Close                               Close  \
Ticker                           AAPL        NVDA         SPY        AAPL
Date
2019-01-01 00:00:00+00:00   39.743031    3.564825  245.607895   41.610001
2019-02-01 00:00:00+00:00   41.345257    3.825460  253.569443   43.287498
2019-03-01 00:00:00+00:00   45.551346    4.457458  257.027100   47.487499
2019-04-01 00:00:00+00:00   48.122070    4.493206  268.705597   50.167500
2019-05-01 00:00:00+00:00   41.983025    3.362705  251.569977   43.767502
...                               ...         ...         ...         ...
2024-08-01 00:00:00+00:00  228.483871  119.351570  560.071289  229.000000
2024-09-01 00:00:00+00:00  232.743942  121.421249  570.086792  233.000000
2024-10-01 00:00:00+00:00  225.661728  132.750854  566.732605  225.910004
2024-11-01 00:00:00+00:00  237.069183  138.240479  600.528809  237.330002
2024-12-01 00:00:00+00:00  258.200012  140.220001  601.299988  258.200012

Price                                                    High              \
Ticker                           NVDA         SPY        AAPL        NVDA
Date
2019-01-01 00:00:00+00:00    3.593750  269.929993   42.250000    4.022000
2019-02-01 00:00:00+00:00    3.856500  278.679993   43.967499    4.132000
2019-03-01 00:00:00+00:00    4.489000  282.480011   49.422501    4.625000
2019-04-01 00:00:00+00:00    4.525000  294.019989   52.119999    4.836750
2019-05-01 00:00:00+00:00    3.386500  275.269989   53.827499    4.621750
...                               ...         ...         ...         ...
2024-08-01 00:00:00+00:00  119.370003  563.679993  232.919998  131.259995
2024-09-01 00:00:00+00:00  121.440002  573.760010  233.089996  127.669998
2024-10-01 00:00:00+00:00  132.759995  568.640015  237.490005  144.419998
2024-11-01 00:00:00+00:00  138.250000  602.549988  237.809998  152.889999
2024-12-01 00:00:00+00:00  140.220001  601.299988  258.209991  146.539993

Price                                         Low                          \
Ticker                            SPY        AAPL        NVDA         SPY
Date
2019-01-01 00:00:00+00:00  270.470001   35.500000    3.192250  243.669998
2019-02-01 00:00:00+00:00  281.309998   41.482498    3.564500  267.829987
2019-03-01 00:00:00+00:00  285.179993   42.375000    3.620000  272.420013
2019-04-01 00:00:00+00:00  294.450012   47.095001    4.332500  284.399994
2019-05-01 00:00:00+00:00  294.950012   43.747501    3.384750  275.239990
...                               ...         ...         ...         ...
2024-08-01 00:00:00+00:00  564.200012  196.000000   90.690002  510.269989
2024-09-01 00:00:00+00:00  574.710022  213.919998  100.949997  539.440002
2024-10-01 00:00:00+00:00  586.119995  221.330002  115.139999  565.270020
2024-11-01 00:00:00+00:00  603.349976  219.710007  131.800003  567.890015
2024-12-01 00:00:00+00:00  609.070007  237.160004  126.860001  580.909973

Price                            Open                              Volume  \
Ticker                           AAPL        NVDA         SPY        AAPL
Date
2019-01-01 00:00:00+00:00   38.722500    3.266000  245.979996  3312349600
2019-02-01 00:00:00+00:00   41.740002    3.612500  270.149994  1890162400
2019-03-01 00:00:00+00:00   43.570000    3.906750  280.440002  2603925600
2019-04-01 00:00:00+00:00   47.910000    4.581500  284.700012  2024470800
2019-05-01 00:00:00+00:00   52.470001    4.577750  294.720001  2957826400
...                               ...         ...         ...         ...
2024-08-01 00:00:00+00:00  224.369995  117.529999  552.570007  1122667000
2024-09-01 00:00:00+00:00  228.550003  116.010002  558.349976  1232140300
2024-10-01 00:00:00+00:00  229.520004  121.769997  573.400024   930736000
2024-11-01 00:00:00+00:00  220.970001  134.699997  571.320007   891640600
2024-12-01 00:00:00+00:00  237.270004  138.830002  602.969971   854250506

Price
Ticker                            NVDA         SPY
Date
2019-01-01 00:00:00+00:00  16870992000  2048691700
2019-02-01 00:00:00+00:00  11445728000  1371716300
2019-03-01 00:00:00+00:00  12068540000  1678081300
2019-04-01 00:00:00+00:00   9437780000  1209204700
2019-05-01 00:00:00+00:00  11180752000  1845593200
...                                ...         ...
2024-08-01 00:00:00+00:00   8105367800  1244599000
2024-09-01 00:00:00+00:00   6272211000  1045061400
2024-10-01 00:00:00+00:00   5627917200   976068800
2024-11-01 00:00:00+00:00   4498075300   901843000
2024-12-01 00:00:00+00:00   3577803315   872856897

[72 rows x 18 columns]

In [ ]:
## Practice: Check the raw data you retrieved from Yahoo Finance. 
## Questions: What's the end date you entered? What's the actual date you retrieved for the last obs? What is the reason
## (Type your answer in this cell)

In [ ]:
## download the raw dataset via yfinance package.
## Requirements: download stocks: Walmart (WMT) and Tesla (TSLA). Monthly data from 01-01-2020 to 12-01-2024. Save the data as "raw_1"

In [8]:
#Now in the raw data, you may only need specific data, for example, close price only

price_close = raw["Close"]

price_close

Ticker                           AAPL        NVDA         SPY
Date
2019-01-01 00:00:00+00:00   41.610001    3.593750  269.929993
2019-02-01 00:00:00+00:00   43.287498    3.856500  278.679993
2019-03-01 00:00:00+00:00   47.487499    4.489000  282.480011
2019-04-01 00:00:00+00:00   50.167500    4.525000  294.019989
2019-05-01 00:00:00+00:00   43.767502    3.386500  275.269989
...                               ...         ...         ...
2024-08-01 00:00:00+00:00  229.000000  119.370003  563.679993
2024-09-01 00:00:00+00:00  233.000000  121.440002  573.760010
2024-10-01 00:00:00+00:00  225.910004  132.759995  568.640015
2024-11-01 00:00:00+00:00  237.330002  138.250000  602.549988
2024-12-01 00:00:00+00:00  258.200012  140.220001  601.299988

[72 rows x 3 columns]

In [ ]:
#practice: try to create a dataset called "p_close" to save the close price of the dataset you retrieved "raw_1".

Now we can convert the monthly price to the monthly return. Recall the assumptions of return calculation. \
If you assume that the return is gross return that compounded at discrete intervals, then $1 + R_t = P_i / P_{i-1}$, which is $R_t = (P_t-P_{t-1})/P_{t-1}$, the percentage change of price. \
You also may assume the number of term that how the interest compounded within a year. It can  be annual, semi-annual, quaterly, monthly, weekly or daily compounded, or the most common assumptions in finance, continously compouned, the investment return is being reinvested continuously, rather than at discrete intervals. Based on this assumptions, the return of investment is $R_t = ln(P_t/P_{t-1})=ln(P_t) - ln(P_{t-1})$.

In [10]:
#Try different types of return.

r = price_close.pct_change()

r

Ticker                         AAPL      NVDA       SPY
Date
2019-01-01 00:00:00+00:00       NaN       NaN       NaN
2019-02-01 00:00:00+00:00  0.040315  0.073113  0.032416
2019-03-01 00:00:00+00:00  0.097026  0.164009  0.013636
2019-04-01 00:00:00+00:00  0.056436  0.008020  0.040852
2019-05-01 00:00:00+00:00 -0.127573 -0.251602 -0.063771
...                             ...       ...       ...
2024-08-01 00:00:00+00:00  0.031160  0.020082  0.023366
2024-09-01 00:00:00+00:00  0.017467  0.017341  0.017883
2024-10-01 00:00:00+00:00 -0.030429  0.093215 -0.008924
2024-11-01 00:00:00+00:00  0.050551  0.041353  0.059633
2024-12-01 00:00:00+00:00  0.087937  0.014250 -0.002075

[72 rows x 3 columns]

In [14]:
r_1 = np.log(price_close) - np.log(price_close.shift(1))

r_1

Ticker                         AAPL      NVDA       SPY
Date
2019-01-01 00:00:00+00:00       NaN       NaN       NaN
2019-02-01 00:00:00+00:00  0.039523  0.070564  0.031902
2019-03-01 00:00:00+00:00  0.092603  0.151870  0.013544
2019-04-01 00:00:00+00:00  0.054901  0.007988  0.040040
2019-05-01 00:00:00+00:00 -0.136476 -0.289821 -0.065895
...                             ...       ...       ...
2024-08-01 00:00:00+00:00  0.030684  0.019883  0.023097
2024-09-01 00:00:00+00:00  0.017316  0.017192  0.017725
2024-10-01 00:00:00+00:00 -0.030902  0.089123 -0.008964
2024-11-01 00:00:00+00:00  0.049315  0.040521  0.057923
2024-12-01 00:00:00+00:00  0.084283  0.014149 -0.002077

[72 rows x 3 columns]

In [ ]:
# I will apply the return based on continously compounded for future analysis.
# we need to drop NA for cleaning the data.

returns = r_1.dropna()

returns

Ticker                         AAPL      NVDA       SPY
Date
2019-02-01 00:00:00+00:00  0.039523  0.070564  0.031902
2019-03-01 00:00:00+00:00  0.092603  0.151870  0.013544
2019-04-01 00:00:00+00:00  0.054901  0.007988  0.040040
2019-05-01 00:00:00+00:00 -0.136476 -0.289821 -0.065895
2019-06-01 00:00:00+00:00  0.122677  0.192592  0.062420
...                             ...       ...       ...
2024-08-01 00:00:00+00:00  0.030684  0.019883  0.023097
2024-09-01 00:00:00+00:00  0.017316  0.017192  0.017725
2024-10-01 00:00:00+00:00 -0.030902  0.089123 -0.008964
2024-11-01 00:00:00+00:00  0.049315  0.040521  0.057923
2024-12-01 00:00:00+00:00  0.084283  0.014149 -0.002077

[71 rows x 3 columns]

In [ ]:
# practice: Try to calculate the return based on your dataset "p_close", 
# save the discrete compounded return to "r_disc", and continously compounded as "r_comp"
# create a dataset called "returns_1" to save your continously compouned return without nay NA observations.